body {
    width: 100%;
}

.container {
    width: 80%;
    margin: 0px auto;
}

.header {
    min-height: 100px;
    display: flex;
    justify-content:space-between;
}

.logo1 {
    background-image: url(images/iran-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
}

.headerText {
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-size: 1vw;
    font-weight: bold;
}

.logo2 {
    background-image: url(images/international-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
}

.nav {
    min-height: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navButton {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: white;
    width: 100%;
    max-width: 150px;
    text-align: center;
}

.navButton a {
    text-decoration: none;
    color: black;
    vertical-align: middle;
    line-height: 25px;
    font-size: .8vw;
}

.navButton:hover {
    background-color: olive;
    transition-duration: .5s;
}

.navButton:hover a {
    color: white;
    transition-duration: .5s;
}

.icon {
    display: none;
    position: absolute;
    z-index: 1;
}

@media (max-width: 1024px){
    .nav .navButton {
        display: none;
    }

    .nav .icon {
        display: block;
    }

    .icon .navButton a {
        text-decoration: none;
        color: black;
        vertical-align: middle;
        line-height: 25px;
        font-size: .8vw;
    }

    .icon .navButton:hover a {
        color: white;
        transition-duration: .5s;
    }

    .icon:hover .navButton {
        display: block;
    }
}

@media (max-width: 1024px) {
    .navContainer.responsive {
        position: relative;
    }
    .navContainer.responsive .icon {
        position: absolute;
    }
    .navContainer.responsive .navButton {
        display: block;
    }
  }