body {
    width: 100%;
}

.container {
    width: 80%;
    margin: 0px auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo1 {
    background-image: url(images/iran-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 10vw;
}

.headerText {
    text-align: center;
    vertical-align: middle;
    line-height: 10vw;
    font-size: 2vw;
    font-weight: bold;
}

.logo2 {
    background-image: url(images/international-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 10vw;
}

.nav {
    position: relative;
    min-height: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 11px 0px;
}

.navButton {
    min-height: 3vw;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: white;
    width: 100%;
    max-width: 20vw;
    text-align: center;
}

.navButton a {
    text-decoration: none;
    color: black;
    vertical-align: middle;
    line-height: 3vw;
    font-size: .8vw;
    font-weight: bold;
}

.navButton:hover {
    background-color: black;
    transform: scale(1.1);
    transition-duration: .5s;
}

.navButton:hover a {
    color: white;
    transition-duration: .5s;
}

.icon {
    display: none;
    position: absolute;
    z-index: 1;
}

@media (max-width: 1024px){
    .nav .navButton {
        display: none;
    }

    .nav .icon {
        display: block;
    }

    .icon .navButton a {
        text-decoration: none;
        color: black;
        vertical-align: middle;
        line-height: 3vw;
        font-size: .8vw;
        font-weight: bold;
    }

    .icon .navButton:hover a {
        color: white;
    }

    .icon:hover .navButton {
        display: block;
    }
}

.baner img {
    width: 100%;
}

.register {
    min-height: 10vw;
    margin: 11px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.registerButton {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    width: 60%;
    text-align: center;
}

.registerButton a {
    text-decoration: none;
    color: black;
    vertical-align: middle;
    line-height: 10vw;
    font-size: 3vw;
    font-weight: bold;
}

.registerButton:hover {
    background-color: black;
    transform: scale(1.1);
    transition-duration: .5s;
}

.registerButton:hover a {
    color: white;
    transition-duration: .5s;
}

.catalogButton {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    width: 30%;
    text-align: center;
    height: 5vw;
}

.catalogButton a {
    text-decoration: none;
    color: black;
    vertical-align: middle;
    line-height: 5vw;
    font-size: 1.5vw;
    font-weight: bold;
}

.catalogButton:hover {
    background-color: black;
    transform: scale(1.1);
    transition-duration: .5s;
}

.catalogButton:hover a {
    color: white;
    transition-duration: .5s;
}

.flowchart img {
    width: 100%;
}

.cards {
    min-height: 40vw;
    display: flex;
    justify-content: space-between;
    margin: 11px 0px;
}

.cardContainer {
    width: 20vw;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.cardContainer div {
    min-height: 20vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cardContainer p {
    margin: 11px 25px;
    font-size: .8vw;
}

.card1 {
    background-image: url(images/bashgah-safiran.jpg);
}

.card2 {
    background-image: url(images/madares.jpg);
}

.card3 {
    background-image: url(images/dabiran.jpg);
}

.cardContainer:hover {
    background-color: black;
    transform: scale(1.1);
    transition-duration: .5s;
}

.cardContainer:hover p {
    color: white;
    transition-duration: .5s;
}

.counters {
    min-height: 10vw;
    display: flex;
    justify-content: space-evenly;
}

.counters div {
    background-color: black;
    width: 10vw;
    text-align: center;
    font-size: 2vw;
    line-height: 5vw;
    font-weight: bold;
    vertical-align: middle;
    color: white
}

.footer {
    margin-top: 11px;
    min-height: 10vw;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 10vw;
    vertical-align: middle;
}