body {
    width: 100%;
}

.container {
    width: 80%;
    margin: 75px auto;
}

.header {
    min-height: 150px;
    display: flex;
    justify-content: space-between;
}

.header div {
    background-color: rgb(200, 255, 100);
}

.logo1 {
    width: 15%;
}

.logo2 {
    width: 40%;
}

.logo3 {
    width: 15%;
}

.nav {
    display: flex;
    justify-content: space-around;
}

.navButton {
    resize: none;
    width: 150px;
    border: 1px solid green;
    background-color: white;
    padding: 11px 25px;
    display: inline-block;
    position: relative;
    text-align: center;
}

.dropDown {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 20px;
    margin-left: -25px;
}

.navButton:hover .dropDown {
    display: block;
}



.banner {
    background-color: rgb(200, 255, 100);
    min-height: 250px;
}

.register {
    min-height: 75px;
}

.flowchart {
    background-color: rgb(200, 255, 100);
    min-height: 200px;
}

.cardsContainer {
    min-height: 500px;
}

.cards {
    min-height: 600px;
    width: 90%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    margin: 150px 0px;
    background-color: rgb(200, 255, 100);
    width: 25%;
}

.navButton a {
    color: black;
    text-decoration: none;
}